---
import BaseLayout from '../layouts/BaseLayout.astro'
import { SITE_BASE, SocialLinks } from '../consts'
import { Icon } from 'astro-icon/components'
import BlogCard from '../components/BlogCard.astro'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 4)
---

<BaseLayout>
	<main
		class="app-container flex flex-col gap-12 justify-center py-36 md:py-48 pt-44 md:pt-56 relative"
	>
		<div>
			<p class="block text-3xl opacity-70 mt-9 mb-4">Hi, I'm</p>
			<h1 class="text-8xl font-bold leading-none">Hisen Zhang</h1>
		</div>
		<p class="text-2xl max-w-2xl font-light leading-normal">
			Computer Science & Computer Engineering student at RPI, focusing on digital communication, AI, and wireless/IoT security. Amateur radio operator KD2TAI.
		</p>
		<div class="flex flex-wrap gap-8">
			{
				SocialLinks.map((link) => (
					<a
						class="text-xl text-primary dark:text-primary-dark underline hover:underline underline-offset-4"
						href={link.url}
						target="_blank"
					>
						{link.name}
					</a>
				))
			}
		</div>
	</main>

	<!-- Recent Posts Section -->
	<section class="app-container">
		<h2 class="section-title">Recent Posts</h2>
		<div class="posts-grid-container">
			{posts.map((post) => <BlogCard post={post} />)}
		</div>
		<a class="btn-secondary" href={`${SITE_BASE}/blog`}
			>Read All
			<Icon size={20} name="mdi:arrow-right" />
		</a>
	</section>

	<!-- About Section -->
	<section class="app-container py-42 grid lg:grid-cols-2 gap-28 lg:gap-10">
		<div class="space-y-6">
			<h2 class="section-title">关于我 / About Me</h2>
			<p class="text-lg max-w-xl pb-4">
				我是海森，现就读于伦斯勒理工学院的计算机科学与计算机工程双专业本科，专注于数字通信与人工智能技术。业余无线电呼号KD2TAI，研究兴趣包括软件定义无线电、数字信号处理，以及无线/物联网安全。
			</p>
			<p class="text-lg max-w-xl pb-4">
				Hisen, KD2TAI, officially known as Zhemin Zhang, is the president of W2SZ Rensselaer Polytechnic Institute Amateur Radio Club.
			</p>
			<a class="btn-secondary" href={`${SITE_BASE}/about`}
				>Read More
				<Icon size={20} name="mdi:arrow-right" />
			</a>
		</div>
		<div class="space-y-6">
			<h2 class="section-title">履历 / CV</h2>
			<p class="text-lg max-w-xl">
				版本若干，详略各异，自取所需。Various CVs for different purposes.
			</p>
			<div class="flex flex-wrap mt-auto gap-4">
				<a class="btn-secondary" href="https://drive.google.com/drive/folders/1yjGs06L5jsOb7V4cnr0k2sHhIgjTP67z" target="_blank"
					>Academic CV
					<Icon height={20} name="mdi:school" />
				</a>
				<a class="btn-secondary" href="https://drive.google.com/drive/folders/1qrFfl3FtcHRchagDrciE3N_8OMpHJEy4" target="_blank"
					>Work CV
					<Icon height={20} name="mdi:briefcase" />
				</a>
			</div>
		</div>
	</section>
</BaseLayout>
