---
import { SITE_BASE } from '@/consts'
import '../styles/global.css'

interface Props {
	title: string
	description: string
	image?: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title, description, image = `${SITE_BASE}/saral-og.jpg` } = Astro.props
---

<!-- Prevent search indexing for theme demo page --><!-- REMOVE FOR YOUR SITE -->
<meta name="robots" content="noindex" />

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<!-- Favicons -->
<link
	rel="icon"
	type="image/png"
	href={`${SITE_BASE}/favicon-96x96.png`}
	sizes="96x96"
/>
<link rel="icon" type="image/svg+xml" href={`${SITE_BASE}/favicon.svg`} />
<link rel="shortcut icon" href={`${SITE_BASE}/favicon.ico`} />
<link
	rel="apple-touch-icon"
	sizes="180x180"
	href={`${SITE_BASE}/apple-touch-icon.png`}
/>
<meta name="apple-mobile-web-app-title" content="Saral Theme" />
<link rel="manifest" href={`${SITE_BASE}/site.webmanifest`} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- RSS Auto-discovery -->
<link
	rel="alternate"
	type="application/rss+xml"
	title="Saral Theme RSS Feed"
	href={new URL('rss.xml', Astro.site)}
/>
