---
import { SITE_BASE } from '@/consts'
import FormattedDate from './FormattedDate.astro'
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'

const { post } = Astro.props

const blogImages = import.meta.glob<{ default: ImageMetadata }>(
	'/src/assets/blogimages/**/*.{jpeg,jpg,png,gif}'
)

const coverImagePath = `/src/assets/blogimages/${post.slug}/cover.jpg`
---

<a
	href={`${SITE_BASE}/blog/${post.slug}/`}
	class="flex flex-col gap-4 pb-8 h-full group transition-colors"
>
	{
		blogImages[coverImagePath] && (
			<Image
				src={blogImages[coverImagePath]()}
				alt={post.data.title}
				class="object-cover rounded-xl aspect-video"
			/>
		)
	}
	<h4
		class="text-2xl font-semibold group-hover:text-primary dark:group-hover:text-primary-dark group-hover:underline transition-colors"
	>
		{post.data.title}
	</h4>
	<p class="line-clamp-3 opacity-80">
		{post.data.description}
	</p>
	<p class="uppercase text-sm mt-auto tracking-tight">
		<FormattedDate date={post.data.pubDate} />
	</p>
</a>
