---
import { SITE_BASE, SocialLinks, WebsiteLinks } from '../consts'
import LogoSVG from '../assets/logo.svg'
import { Icon } from 'astro-icon/components'

const today = new Date()
---

<footer>
	<div
		class="app-container grid md:grid-cols-3 gap-12 py-16 border-t-2 border-foreground/50 dark:border-foreground-dark/50"
	>
		<div>
			<a href={`${SITE_BASE}/`} class="block w-fit" aria-label="Home">
				<LogoSVG height={36} width={36} />
			</a>
		</div>
		<div>
			<h3 class="font-semibold text-2xl">Links</h3>
			<div class="flex flex-wrap gap-4 mt-4">
				{
					WebsiteLinks.filter((link) => link.name !== 'Home').map((link) => (
						<a
							class="text-lg"
							href={link.url}
							target="_blank"
							rel="noopener noreferrer"
						>
							{link.name}
						</a>
					))
				}
				<a
					href="rss.xml"
					target="_blank"
					rel="noopener noreferrer"
					class="text-lg"
					aria-label="RSS Feed"
				>
					<Icon name="mdi:rss" class="w-6 h-6" />
				</a>
			</div>
		</div>
		<div>
			<h3 class="font-semibold text-2xl">Socials</h3>
			<div class="flex flex-wrap gap-4 mt-4">
				{
					SocialLinks.map((link) => (
						<a
							class="text-lg"
							href={link.url}
							target="_blank"
							rel="noopener noreferrer"
						>
							{link.name}
						</a>
					))
				}
			</div>
		</div>
	</div>
	<div class="app-container flex justify-between items-center pb-6 text-center">
		<p class="text-left md:text-center w-full">
			&copy; {today.getFullYear()} Source code available on <a
				class="underline"
				href="https://github.com/yashjawale/saral-theme-astro"
				target="_blank">GitHub</a
			>
		</p>
	</div>
</footer>
